<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE generatorConfiguration PUBLIC
        "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd" >
<generatorConfiguration>
    <context id="context" targetRuntime="MyBatis3">
        <plugin type="org.mybatis.generator.plugins.UnmergeableXmlMappersPlugin" />
        <!-- 分页查询配置 -->
        <plugin type="org.mybatis.generator.plugins.RowBoundsPlugin" />
        <commentGenerator>
            <property name="suppressAllComments" value="true"/>
            <property name="suppressDate" value="true"/>
        </commentGenerator>
        <!-- 数据库的相关配置 -->
        <jdbcConnection driverClass="com.mysql.cj.jdbc.Driver"
                        connectionURL="jdbc:mysql://121.41.227.227:3306/jicode?useUnicode=true
                                            &amp;characterEncoding=UTF-8
                                            &amp;allowMultiQueries=true
                                            &amp;allowPublicKeyRetrieval=TRUE
                                            &amp;sslMode=REQUIRED"
                        userId="jicode_user"
                        password="JiCode2024!"/>
        <javaTypeResolver>
            <property name="forceBigDecimals" value="false"/>
        </javaTypeResolver>
        <!-- 实体类生成的位置 -->
        <javaModelGenerator targetPackage="com.JiCode.ProductMa.adaptor.output.dataaccess.DBModels"
                            targetProject="src/main/java">
            <property name="enableSubPackages" value="false"/>
            <property name="trimStrings" value="true"/>
        </javaModelGenerator>
        <!-- *Mapper.xml 文件的位置 -->
        <sqlMapGenerator targetPackage="com.JiCode.ProductMa.adaptor.output.dataaccess.mappers"
                         targetProject="src/main/resources">
            <property name="enableSubPackages" value="false"/>
        </sqlMapGenerator>
        <!-- Mapper接口文件的位置 -->
        <javaClientGenerator targetPackage="com.JiCode.ProductMa.adaptor.output.dataaccess.mappers"
                             targetProject="src/main/java/"
                             type="XMLMAPPER">
            <property name="enableSubPackages" value="false"/>
        </javaClientGenerator>
        <!-- 相关表的配置 -->
        <!--  生成client表      -->
        <table tableName="client"
               domainObjectName="Client"
               enableInsert="true"
               enableDeleteByPrimaryKey="true"
               enableUpdateByPrimaryKey="true"
               enableSelectByPrimaryKey="true"
               enableCountByExample="true"
               enableDeleteByExample="true"
               enableSelectByExample="true"
               enableUpdateByExample="true"/>
        <!--  生成product表      -->
        <table tableName="product"
               domainObjectName="Product"
               enableInsert="true"
               enableDeleteByPrimaryKey="true"
               enableUpdateByPrimaryKey="true"
               enableSelectByPrimaryKey="true"
               enableCountByExample="true"
               enableDeleteByExample="true"
               enableSelectByExample="true"
               enableUpdateByExample="true"/>
        <!--  生成product_member表      -->
        <table tableName="product_member"
               domainObjectName="ProductMember"
               enableInsert="true"
               enableDeleteByPrimaryKey="true"
               enableUpdateByPrimaryKey="true"
               enableSelectByPrimaryKey="true"
               enableCountByExample="true"
               enableDeleteByExample="true"
               enableSelectByExample="true"
               enableUpdateByExample="true"/>
        <!--  生成requirement_backlogitem表      -->
        <table tableName="requirement_backlogitem"
               domainObjectName="RequirementBacklogitem"
               enableInsert="true"
               enableDeleteByPrimaryKey="true"
               enableUpdateByPrimaryKey="true"
               enableSelectByPrimaryKey="true"
               enableCountByExample="true"
               enableDeleteByExample="true"
               enableSelectByExample="true"
               enableUpdateByExample="true"/>
        <!--  生成requirement_client表      -->
        <table tableName="requirement_client"
               domainObjectName="RequirementClient"
               enableInsert="true"
               enableDeleteByPrimaryKey="true"
               enableUpdateByPrimaryKey="true"
               enableSelectByPrimaryKey="true"
               enableCountByExample="true"
               enableDeleteByExample="true"
               enableSelectByExample="true"
               enableUpdateByExample="true"/>
        <!--  生成requirement_content表      -->
        <table tableName="requirement_content"
               domainObjectName="RequirementContent"
               enableInsert="true"
               enableDeleteByPrimaryKey="true"
               enableUpdateByPrimaryKey="true"
               enableSelectByPrimaryKey="true"
               enableCountByExample="true"
               enableDeleteByExample="true"
               enableSelectByExample="true"
               enableUpdateByExample="true"/>
        <!--  生成requirement表      -->
        <table tableName="requirement"
               domainObjectName="Requirement"
               enableInsert="true"
               enableDeleteByPrimaryKey="true"
               enableUpdateByPrimaryKey="true"
               enableSelectByPrimaryKey="true"
               enableCountByExample="true"
               enableDeleteByExample="true"
               enableSelectByExample="true"
               enableUpdateByExample="true"/>
        <!--  生成requirement_version表      -->
        <table tableName="requirement_version"
               domainObjectName="RequirementVersion"
               enableInsert="true"
               enableDeleteByPrimaryKey="true"
               enableUpdateByPrimaryKey="true"
               enableSelectByPrimaryKey="true"
               enableCountByExample="true"
               enableDeleteByExample="true"
               enableSelectByExample="true"
               enableUpdateByExample="true"/>
        <!--  生成test表      -->
        <table tableName="test"
               domainObjectName="Test"
               enableInsert="true"
               enableDeleteByPrimaryKey="true"
               enableUpdateByPrimaryKey="true"
               enableSelectByPrimaryKey="true"
               enableCountByExample="true"
               enableDeleteByExample="true"
               enableSelectByExample="true"
               enableUpdateByExample="true"/>
        <!--   生成team表     -->
        <table tableName="team"
               domainObjectName="Team"
               enableInsert="true"
               enableDeleteByPrimaryKey="true"
               enableUpdateByPrimaryKey="true"
               enableSelectByPrimaryKey="true"
               enableCountByExample="true"
               enableDeleteByExample="true"
               enableSelectByExample="true"
               enableUpdateByExample="true"/>

    </context>
</generatorConfiguration>
